/* #container p{ //селектор потомков
  color: blue;
}
#container>p{ //селектор родных детей
  color: red;
} */
/* p+div{ //селектор соседей
  color: red;
}
h1+div{
  color: lime;
} */

/* p~div{ //селектор родственников
  border: 3px double red;
} */