.navigation {
  background-color: aquamarine;
}
.navigation:focus,
div:focus{
  margin-left: 50px;
}
/* .navigation:hover{
  margin-left: 50px;
} */
.links-list {
  list-style: none;
  padding: 0;
  text-align: center;
}
.links-list > li {
  display: inline-block;
}
.links-list > li + li {
  margin-left: 20px;
}
.navigation .link {
  display: block;
  padding: 20px 10px;
  background-color: wheat;
  text-decoration: none;
  color:green;
}
/* .navigation .link:link {
  color: white;
  background-color :fuchsia;
} */
/* .navigation .link:visited {
  color: peru;
  background-color :red;
} */
.navigation .link:hover {
  background-color: grey;
  color:pink;
}
/* .navigation .link:active {
  color: black;
} */
.navigation .link:focus {
  background-color: green;
  color:yellow;
  outline: 3px dotted red;  
}

.link:not(a.link){
  display: inline-block;
  padding: 0;
}

*:target{
  background-color: yellow;
}

li:last-child{
  font-size: 1.5em;
}

li:nth-child(2n+4){
  border-bottom: 3px solid firebrick;
}

.navigation *:disabled{
  background-color: black;
}



