.main-article{
  font-size: 40px;
  border: 3px solid lime;
  color: green;
}
.head-article{
  border: inherit;
} 
.content-article{
  font-size: initial;
}
.link-article{
  color: violet;
  font-size: 20px;
}